form, .register-container {
    border: solid 1px gray;
    border-radius: 0.5rem;
}
h1 {
    font-family: "Josefin+Sans";
    font-weight: bold;
    font-style: italic
}

.register-container {
    padding: 0.375em 0.75rem;
    height: 50px;
    font-size: 1.1rem;
}

.register-container span {
    cursor:pointer;
}

.container {
    width: 75vw !important;
    height: 100vh;
}
